<form [formGroup]="attributeForm" (ngSubmit)="onSubmit()">
    <div class="header">
        <h2 mat-dialog-title>添加属性</h2>
        <button mat-icon-button type="button" [mat-dialog-close]="false">
            <mat-icon fontIcon="close"></mat-icon>
        </button>
    </div>

    <div mat-dialog-content class="content">
        <!-- name -->
        <mat-form-field>
            <mat-label>名称</mat-label>
            <input matNativeControl formControlName="name">
        </mat-form-field>

        <!-- attributeType -->
        <mat-form-field>
            <mat-label>类型</mat-label>
            <mat-select formControlName="attributeType">
                @for (type of AttributeTypes;track $index) {
                    <mat-option [value]="type"> {{ type }}</mat-option>
                }
            </mat-select>
        </mat-form-field>

        <!-- attributeDataTypes -->
        @if (attributeType.value === 'LIST_OF_VALUES') {
            <mat-form-field>
                <mat-label>显示样式</mat-label>
                <mat-select formControlName="attributeDisplayMode">
                    @for (mode of AttributeDataTypes;track $index) {
                        <mat-option [value]="mode">{{ mode }}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
        }

        <!-- attributeOptions -->
        @if (attributeType.value === 'LIST_OF_VALUES') {
            <div cdkDropList (cdkDropListDropped)="onDropped($event)">
                <mat-label>属性选项</mat-label>
                <div class="attribute-option-group-container" formArrayName="attributeOptions">
                    @for (group of attributeOptions.controls;track $index;) {
                        <div cdkDrag class="attribute-option-content" [formGroupName]="$index">
                            <mat-icon class="drag-box" fontIcon="drag_indicator"></mat-icon>
                            <input matNativeControl autofocus type="text" formControlName="name">
                            @if ($count > 1) {
                                <mat-icon fontIcon="delete" (click)="deleteAttributeOption($index)"></mat-icon>
                            }
                            @if ($last) {
                                <mat-icon (click)="addAttributeOption()" fontIcon="add_box">
                                </mat-icon>
                            }
                        </div>
                    }
                </div>
            </div>
        }

    </div>

    <div mat-dialog-actions align="start">
        <button mat-raised-button type="button" [mat-dialog-close]="false">取消</button>
        <button mat-raised-button type="submit" color="primary">保存</button>
        <!--@if (attributeId) {
            <button mat-raised-button type="submit" color="primary" [mat-dialog-close]="true">保存</button>
        } @else {
            <button mat-raised-button type="button" (click)="createAttribute()" color="primary">下一步</button>
        }-->
    </div>
</form>
