.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  h2 {
    margin: 0;
  }
}

.content {
  min-width: 600px;
  display: flex;
  flex-flow: column nowrap;

  .attribute-option-group-container {
    .attribute-option-content {
      display: flex;
      flex-flow: row nowrap;
      padding: 0.5rem 0.5rem;

      .drag-box {
        cursor: move;
      }
    }
  }

}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

