<div class="admin-container-wrap">
    <mat-sidenav-container class="admin-container" autosize="true">
        <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'"
                     [opened]="!mobileQuery.matches"
                     [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <app-sidebar [isMiniNavigation]="isMiniNavigation"></app-sidebar>
        </mat-sidenav>
        <!-- app header -->
        <mat-sidenav-content class="admin-content">
            <mat-toolbar color="primary">
                <button mat-icon-button
                        (click)="mobileQuery.matches?sidenav.toggle():isMiniNavigation=!isMiniNavigation">
                    <mat-icon>menu</mat-icon>
                </button>
                <h1 class="app-name">Happiness App</h1>
            </mat-toolbar>
            <!--  content  -->
            <div class="content">
                <router-outlet></router-outlet>
            </div>
            <!--<app-footer></app-footer>-->
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>