<div class="product-option" [formGroup]="formGroup">
    <mat-form-field>
        <mat-label>选项名称</mat-label>
        <input matNativeControl type="text"
               placeholder="新建或选择属性选项"
               #attributeInput
               (input)="attributeFilter()"
               (focus)="attributeFilter()"
               [formControl]="attributeCtrl"
               [matAutocomplete]="attributeAuto"
        >
        <mat-autocomplete #attributeAuto="matAutocomplete" requireSelection="true"
                          (optionSelected)="selectedAttribute($event)">
            @if (attributeInput.value && isNewAttribute(attributeInput.value)) {
                <mat-option [value]="attributeInput.value">
                    <p class="new-value">+点击新建:{{ attributeInput.value }}</p>
                </mat-option>
            }
            @for (attribute of filteredAttributes;track $index) {
                <mat-option [value]="attribute.name">{{ attribute.name }}</mat-option>
            }

        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
        <mat-label>选项值</mat-label>
        <mat-chip-grid #attributeOptionsChipGrid aria-label="Categories selection">
            @for (attributeOption of selectedAttributeOptions;track $index) {
                <mat-chip-row (removed)="removeAttributeOption(attributeOption)">
                    {{ attributeOption.value }}
                    <button matChipRemove [attr.aria-label]="'remove ' + attributeOption.value">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
            }
        </mat-chip-grid>
        <input placeholder="新分类..." #attributeOptionInput
               [matChipInputFor]="attributeOptionsChipGrid"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               (matChipInputTokenEnd)="addAttributeOption($event)"
               [matAutocomplete]="attributeOptionAuto"
               [formControl]="attributeOptionsCtrl"/>
        <mat-autocomplete #attributeOptionAuto="matAutocomplete" requireSelection="true"
                          (optionSelected)="selectedAttributeOption($event)">
            @for (attributeOption of filteredAttributeOptions;track $index) {
                <mat-option [value]="attributeOption">{{ attributeOption.value }}</mat-option>
            }
        </mat-autocomplete>
    </mat-form-field>
</div>