<mat-button-toggle-group #attributeGroup="matButtonToggleGroup">
    <mat-button-toggle value="product-specific-attribute" checked="true">私有属性</mat-button-toggle>
    <mat-button-toggle value="category-attribute">类别属性</mat-button-toggle>
    <mat-button-toggle value="global-attribute">全局属性</mat-button-toggle>
    <mat-button-toggle value="hidden-attribute">隐藏属性</mat-button-toggle>
</mat-button-toggle-group>
@switch (attributeGroup.value) {
    @case ('product-specific-attribute') {
        <app-product-specific-attribute [productId]="productId"></app-product-specific-attribute>
    }
    @case ('category-attribute') {
        <app-category-attribute></app-category-attribute>
    }
    @case ('global-attribute') {
        <app-global-attribute></app-global-attribute>
    }
    @case ('hidden-attribute') {
        <app-hidden-attribute></app-hidden-attribute>
    }
}