<form (ngSubmit)="onSubmit()">
    <div class="header">
        <h2 mat-dialog-title>属性组管理</h2>
        <button mat-icon-button type="button" [mat-dialog-close]="false">
            <mat-icon fontIcon="close"></mat-icon>
        </button>
    </div>

    <div mat-dialog-content class="content">
        <button mat-raised-button type="button" (click)="addAttributeGroup()">添加属性组</button>
        <div cdkDropList class="attribute-group-list" (cdkDropListDropped)="onDropped($event)">
            @for (attributeGroup of attributeGroups;track $index) {
                <div cdkDrag class="attribute-group-box">
                    <div class="attribute-group-custom-placeholder" *cdkDragPlaceholder></div>
                    <mat-icon class="drag-box" fontIcon="drag_indicator"></mat-icon>
                    @if (attributeGroup.id) {
                        <span>{{ attributeGroup.name }}</span>
                    } @else {
                        <input matNativeControl name="{{$index}}" [(ngModel)]="attributeGroup.name" type="text">
                    }
                    <mat-icon fontIcon="delete" (click)="deleteAttributeGroup($index)"></mat-icon>
                </div>
            }
        </div>
    </div>

    <div mat-dialog-actions align="start">
        <button mat-raised-button type="submit" color="primary">保存</button>
    </div>

</form>