<form [formGroup]="productSpecificAttributeForm" (ngSubmit)="onSubmit()">
    <div class="product-specific-attribute-container">
        <div class="title">
            <h2>产品私有属性</h2>
            <button mat-raised-button type="button" [matMenuTriggerFor]="menu">添加属性
                <mat-icon fontIcon="arrow_drop_down"></mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="addAttribute('SELECT')">普通文本</button>
                <button mat-menu-item (click)="addAttribute('TEXT')">文本区</button>
                <button mat-menu-item (click)="addAttribute('CHECKBOX')">是/否</button>
            </mat-menu>
        </div>
        @if (attributes.length === 0) {
            <p>该产品暂无私有属性</p>
        } @else {
            <div class="content" formArrayName="attributes">
                @for (attribute of attributes.controls;track attributeIdx;let attributeIdx =$index) {
                    <div class="attribute" [formGroupName]="attributeIdx">
                        <input matNativeControl placeholder="属性名称" formControlName="name">
                        @switch (attribute.controls.attributeType.value) {
                            <!-- select -->
                            @case ('SELECT') {
                                <div formArrayName="attributeValueSelects">
                                    @for (attributeValueSelect of attribute.controls.attributeValueSelects?.controls;track attributeValueIdx;let attributeValueIdx=$index) {
                                        <div class="attribute-value-select" [formGroupName]="attributeValueIdx">
                                            <div class="attribute-option" formGroupName="attributeOption">
                                                <input matNativeControl
                                                       (blur)="selectCheckbox.checked&&addAttributeValueSelect(attribute)"
                                                       placeholder="属性选项" formControlName="name">
                                                @if (!$first) {
                                                    <mat-icon class="hide" fontIcon="delete"
                                                              (click)="deleteAttributeValueSelect(attributeIdx,attributeValueIdx)"></mat-icon>
                                                }
                                            </div>

                                        </div>
                                    }
                                </div>
                                <mat-checkbox #selectCheckbox
                                              (change)="onAttributeValueSelectMultiValueChange($event,attribute)"
                                              [checked]="false"
                                              [ngClass]="{'hide':!selectCheckbox.checked}"
                                              aria-label="multiple value">
                                    多值
                                </mat-checkbox>
                            }
                            <!--  checkbox -->
                            @case ('CHECKBOX') {
                                <div formArrayName="attributeValueCheckboxes">
                                    @for (attributeValueCheckbox of attribute.controls.attributeValueCheckboxes?.controls;track $index) {
                                        <div class="attribute-value-checkbox" [formGroupName]="$index">
                                            @if (checkbox.checked) {
                                                <input matNativeControl type="text" formControlName="value"
                                                       [readonly]="true">
                                            } @else {
                                                <select matNativeControl formControlName="value">
                                                    <option value="true" selected>是</option>
                                                    <option value="false">否</option>
                                                </select>
                                            }
                                        </div>
                                    }
                                </div>
                                <mat-checkbox #checkbox
                                              (change)="onAttributeValueCheckboxMultiValueChange($event,attribute)"
                                              [checked]="false"
                                              [ngClass]="{'hide':!checkbox.checked}"
                                              aria-label="multiple value">
                                    多值
                                </mat-checkbox>
                            }
                            <!--  text -->
                            @case ('TEXT') {
                                <div class="attribute-value-text" formGroupName="attributeValueText">
                                    <textarea matNativeControl placeholder="文本区" formControlName="value"
                                              [readonly]="textCheckbox.checked"></textarea>
                                </div>
                                <mat-checkbox #textCheckbox [checked]="false"
                                              (change)="onEditableChange($event,attribute)"
                                              [ngClass]="{'hide':!textCheckbox.checked}"
                                              aria-label="editable">
                                    可编辑
                                </mat-checkbox>

                            }
                        }
                        <mat-icon fontIcon="delete" (click)="deleteAttribute(attributeIdx)"></mat-icon>
                    </div>
                }

            </div>

        }
    </div>
    <page-footer>
        <ng-container buttons>
            <button mat-raised-button type="submit"
                    [disabled]="productSpecificAttributeForm.invalid&&productSpecificAttributeForm.pristine">保存
            </button>
        </ng-container>
    </page-footer>
</form>