.product-specific-attribute-container {
  display: flex;
  flex-flow: column nowrap;
  max-width: 50rem;

  .title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }

  .content {
    .hide {
      display: none;
    }

    .attribute-option:hover .hide {
      display: inline-block;
    }
  }

}

