<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" #tabGroup>
    <mat-tab label="详情">
        <ng-template matTabContent>
            <app-product-info [productId]="productId"></app-product-info>
        </ng-template>
    </mat-tab>
    <mat-tab label="产品选项">
        <ng-template matTabContent>
            <app-product-options [productId]="productId"></app-product-options>
        </ng-template>
    </mat-tab>
    <mat-tab label="库存">
        <ng-template matTabContent>
        </ng-template>
    </mat-tab>
    <mat-tab label="相关产品">
        <ng-template matTabContent>

        </ng-template>
    </mat-tab>
    <mat-tab label="评价">
        <ng-template matTabContent>

        </ng-template>
    </mat-tab>
</mat-tab-group>
