@if (hasChildren) {
    <a mat-list-item [routerLink]="menuItem.url" [matMenuTriggerFor]="childMenu">
        <!-- root node -->
        @if (depth == 0) {
            <mat-icon fontIcon="{{menuItem.icon}}"></mat-icon>
        } @else {
            <!-- branch node -->
            <span>{{ menuItem.name }}</span>
        }

    </a>
    <mat-menu #childMenu="matMenu">
        @for (item of menuItem.children;track $index) {
            <app-menu-item [menuItem]="item" [depth]="depth+1"></app-menu-item>
        }
    </mat-menu>

} @else {
    <a mat-list-item [routerLink]="menuItem.url">
        @if (depth == 0) {
            <!-- root node -->
            <mat-icon fontIcon="{{menuItem.icon}}"></mat-icon>
        } @else {
            <!-- leaf node   -->
            <span>{{ menuItem.name }}</span>
        }
    </a>

}
