<!-- todo:处理头部，当全局属性和类别属性page header不相同，面包屑页层级不一样 -->
<div class="button-container">
    <button mat-raised-button type="button" (click)="addAttribute()" class="button">
        添加属性
    </button>
    <button mat-raised-button type="button" class="button">
        管理分组
    </button>

</div>

<table mat-table cdkDropList (cdkDropListDropped)="onDropped($event)" [cdkDropListData]="attributeDataSource.data"
       [dataSource]="attributeDataSource" class="mat-elevation-z8 table">

    <!-- dragBox Column -->
    <ng-container matColumnDef="dragBox">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <mat-icon class="drag-box" fontIcon="drag_indicator"></mat-icon>
        </td>
    </ng-container>

    <!-- name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>属性名称</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- attributeOptionType Column -->
    <ng-container matColumnDef="attributeType">
        <th mat-header-cell *matHeaderCellDef>属性选项类型</th>
        <td mat-cell *matCellDef="let element">{{ element.attributeType }}</td>
    </ng-container>

    <!-- productCount Column -->
    <ng-container matColumnDef="isVisible">
        <th mat-header-cell *matHeaderCellDef>是否作为产品选项</th>
        <td mat-cell *matCellDef="let element">
            <mat-slide-toggle [id]="element.id" checked="{{element.isVisible}}"></mat-slide-toggle>
        </td>
    </ng-container>

    <!-- enabled Column -->
    <ng-container matColumnDef="attributeDisplayMode">
        <th mat-header-cell *matHeaderCellDef>作为产品选项显示类型</th>
        <td mat-cell *matCellDef="let element">{{ element.attributeDisplayMode }}</td>
    </ng-container>

    <!--  operate -->
    <ng-container matColumnDef="operate">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element;index as i">
            <button mat-icon-button type="button">
                <mat-icon fontIcon="edit"></mat-icon>
            </button>
            <button mat-icon-button type="button" (click)="deleteAttribute(element.id)">
                <mat-icon fontIcon="delete"></mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row cdkDrag *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
