<form [formGroup]="productForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>基本信息</mat-card-title>
        </mat-card-header>
        <mat-card-content class="content">
            <mat-form-field class="full-width">
                <mat-label>产品名称</mat-label>
                <input matInput placeholder="产品名称" formControlName="name">
                @if (productForm.controls.name.hasError('required')) {
                    <mat-error>产品名称不能为 <strong>空</strong></mat-error>
                }
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>SKU</mat-label>
                <input matInput placeholder="sku" formControlName="sku">
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>产品图片</mat-label>
                <image-input [multiple]="true"
                             [maxCount]="5"
                             [imageType]="'image/*'"
                             formControlName="images">
                </image-input>
            </mat-form-field>

            <mat-form-field class="example-chip-list">
                <mat-label>产品分类</mat-label>
                <mat-chip-grid #categoriesChipGrid aria-label="Categories selection">
                    @for (category of selectedCategories;track category.id) {
                        <mat-chip-row (removed)="removeCategory(category)">
                            {{ category.name }}
                            <button matChipRemove [attr.aria-label]="'remove ' + category.name">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip-row>
                    }
                </mat-chip-grid>
                <input placeholder="新分类..." #categoriesInput
                       [matChipInputFor]="categoriesChipGrid"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       (matChipInputTokenEnd)="addCategory($event)"
                       [matAutocomplete]="auto"
                       [formControl]="categoryCtrl"/>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedCategory($event)">
                    @for (category of filteredCategories;track category.id) {
                        <mat-option [value]="category">{{ category.name }}</mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>
            <div>
                <label for="description">简短介绍</label>
                <ngx-wig id="description" formControlName="description"></ngx-wig>
            </div>
            <div>
                <label for="fullDescription">详细描述</label>
                <ngx-wig id="fullDescription" formControlName="fullDescription"></ngx-wig>
            </div>
            <mat-slide-toggle formControlName="enabled">上架产品</mat-slide-toggle>

        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>价格与库存</mat-card-title>
        </mat-card-header>
        <mat-card-content class="content">
            <mat-form-field class="full-width">
                <mat-label>价格</mat-label>
                <input matInput numeric prefix="¥" placeholder="价格" formControlName="price">
                @if (productForm.controls.price.hasError('required')) {
                    <mat-error>产品名称不能为 <strong>空</strong></mat-error>
                }
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>市场价/建议零售及</mat-label>
                <input matInput numeric prefix="¥" placeholder="市场价" formControlName="marketPrice">
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label>成本</mat-label>
                <input matInput numeric prefix="¥" placeholder="成本" formControlName="constPrice">
            </mat-form-field>
            <mat-slide-toggle formControlName="enabled">上架产品</mat-slide-toggle>

        </mat-card-content>
    </mat-card>

    <page-footer>
        <ng-container buttons>
            <!--<button mat-raised-button type="button">取消</button>-->
            <button mat-raised-button type="button"
                    [disabled]="productForm.invalid||productForm.pristine">删除
            </button>

            <button mat-raised-button type="submit" color="primary"
                    [disabled]="productForm.invalid||productForm.pristine">保存
            </button>
        </ng-container>
    </page-footer>
</form>
