<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start" #tabGroup>
    <mat-tab label="详情">
        <ng-template matTabContent>
            <app-category-info [categoryId]="categoryId"></app-category-info>
        </ng-template>
    </mat-tab>
    <mat-tab label="子分类">
        <ng-template matTabContent>
            <app-category-list [parentCategoryId]="categoryId"></app-category-list>
        </ng-template>
    </mat-tab>
    <mat-tab label="产品">
        <ng-template matTabContent>
            产品列表
        </ng-template>
    </mat-tab>
</mat-tab-group>
